@model CreArtHub.Domain.Entity.Post

@{
    ViewData["Title"] = "Изменение";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("_GetSubMenu",new List<string> { "Посты", ViewData["Title"].ToString() })

<section class="blogs section bg-gray" id="contact">
    <div class="container">

        <h1>Изменение</h1>

        <h4>Пост</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    @if (User.IsInRole("admin") || User.IsInRole("moderator"))
                    {
                        <div class="form-group">
                            <label asp-for="AuthorId" class="control-label"></label>
                            <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
                        </div>
                    }
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label"></label>
                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Content" class="control-label"></label>
                        <textarea asp-for="Content" type="text" class="form-control" cols="30" rows="4"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tags" class="control-label"></label>
                        <textarea asp-for="Tags" type="text" class="form-control" cols="30" rows="4"></textarea>
                        <span asp-validation-for="Tags" class="text-danger"></span>
                    </div>
                    @if (User.IsInRole("admin") || User.IsInRole("moderator"))
                    {
                        <div class="form-group">
                            <label asp-for="CreatedAt" class="control-label"></label>
                            <input asp-for="CreatedAt" class="form-control" />
                            <span asp-validation-for="CreatedAt" class="text-danger"></span>
                        </div>
                    }
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="BySub" /> @Html.DisplayNameFor(model => model.BySub)
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Сохранить" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div id="cf-submit">
            <a href='javascript:history.go(-1)' id="contact-submit" class="btn btn-main">Вернуться назад</a>
        </div>
    </div>
</section>

