@model int

<a asp-action="Edit" asp-route-id="@Model" id="contact-submit" class="btn btn-main">Изменить</a>
<p></p>
<a asp-action="Index" id="contact-submit" class="btn btn-main">Обратно к списку</a>