@model CreArtHub.Domain.Entity.Subscriber

@{
    ViewData["Title"] = "Создание";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("_GetSubMenu",new List<string> { "Подписчики", ViewData["Title"].ToString() })

<section class="contact-us section bg-gray" id="contact">
    <div class="container">

        <h1>Создание</h1>

        <h4>Подписчик</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="SubscriptionId" class="control-label"></label>
                        <input asp-for="SubscriptionId" class="form-control" />
                        <span asp-validation-for="SubscriptionId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserId" class="control-label"></label>
                        <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Создать" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div id="cf-submit">
            <a asp-action="Index" id="contact-submit" class="btn btn-main">Обратно к списку</a>
        </div>
    </div>
</section>

